.apresentation {
  @include page-grid;

  &-background {
    position: relative;
    grid-column: 1/-1;

  

    &-img {
      display: inline-block;
      width: 100%;

    }
  }

  &-content {
    grid-column: 1/-1;

    &-title {
      @include h1-style;
    }

    &-desc {
      @include normaltext-style;

      padding-block: 17px 8px;
    }

    &-value {
      @include value-style;
    }






    &-button {
      width: 100%;

      @include buttons-style;
    }
  }
}

.play-background {
  display: block;

  width: 250px;
  height: 70px;
  padding-block: 25px 32px;

  background-image: url('/src/images/background/background-play.png');
  background-repeat: no-repeat;
  background-position: center;

}

