.faq {
  @include background-color;
  @include page-grid;

  pointer-events: none;

  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  transform: translate(100%);

  overflow-y: auto;
  grid-column: 1/-1;

  box-sizing: border-box;
  height: 100vh;
  padding-block: 20px; // 8px a + não sei o porque mais assim alinha.

  opacity: 0;

  transition: all 0.3s ease;

  &:target {
    pointer-events: all;
    transform: translate(0);
    opacity: 1;
  }

  &-top {
    display: flex;
    grid-column: 1/-1;
    flex-direction: row;
    justify-content: space-between;

    &-right {
      &-svg {
        @include setup-svg('/src/images/svg/close-icon.svg', #fff);
      }
    }
  }

  &-content {
    grid-column: 1/-1;
    height: 90vh;

    &-h2title {
      @include h2-style;
    }

    &-subtitle {
      @include subtitle-style;
    }

    &-desc {
      @include normaltext-style;
    }

    &-lastupdate {
      @include subtitle-gray-style;
    }

    &-nav {
      &-ul {
        @include footer-ul;

        &-li {
          padding: 18px 12px;
          border: 1px solid $azul;

        }
      }
    }
  }
}