.morethangame {
  @include page-grid;

  gap: 20px;
  padding-block: 30px;
  background-color: #05040B;

  &-info {
    grid-column: 1/-1;

    @include device {
      text-align: center;

    }

    &-title {
      @include h2-style;
    }

    &-subtitle {
      @include subtitle-style;
    }
  }

  &-content {
    grid-column: 1/-1;

    @include device('tablet', 'min') {
      grid-column: span 3;
      text-align: center;

    }

        @include device('large') {
      grid-column: span 4;
    }

    &-title {
      @include h3-style;
    }

    &-desc {
      @include normaltext-style;
    }
  }
}