@import 'utils';
@import 'fonts';
@import 'typography';
@import 'blocks/apresentation';
@import 'blocks/about';
@import 'blocks/contact';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/morethangame';
@import 'blocks/nav';
@import 'blocks/techspech';
@import 'blocks/whykat';
@import 'blocks/menu';
@import 'blocks/language';
@import 'blocks/canhelp';
@import 'blocks/faq';


.page {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  @include background-color;

}




.link {
  text-decoration: none;
}

.link-button {
  display: inline-flex;
  width: 100%;
  text-decoration: none;

}

.link-azul{
  @include normaltext-style;

  color:$azul;

}

.logos-icons {
  transition: transform 0.3 ease;

  &:hover {
    transform: scale(1.1);
  }
}

.ontablet-hide {
  @include device('tablet', min) {
    display: none;
  }
}

.onmobile-hide {
  @include device('tablet', max) {
    display: none;
  }
}

.ondesktop-show{
  @include device('desktop', max){
    display: none;
  }
}

.ondesktop-hide{
  @include device('desktop', min){
    display: none;
  }
}