@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;

  &:hover {
    #{$_property}: $_toValue;
  }
}

// mixin para pegar svg e colorir, tem que passar um url, uma cor, e o size se nao for passado por padrao é 24px
@mixin setup-svg($path, $color, $width: 20px, $height: 20px) {
  display: inline-block;

  width: $width;
  height: $height;

  // A cor que vai preencher o "molde"
  background-color: $color;

  // O molde (SVG)
  -webkit-mask-image: url($path);
  mask-image: url($path);

  // Compatibilidade com navegadores antigos (Safari/Chrome)
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;

  @include topography-basic;
}

// linear-gradiente,color
@mixin background-color {
  background: linear-gradient(100deg, #191536 0%, #191536 20%, #000 100%);

  @include topography-basic;

}

// mixin dos estilos de fontes
@mixin topography-basic {
  font-family: Inter, sans-serif;
}

@mixin h1-style {
  @include topography-basic;

  font-size: 26px;
  font-weight: 900;
  line-height: 130%;
  color: #fff;

  &>span {
    // apenas o span dentro da classe que foi chamado vai ser selecionado
    font-weight: 400;
    color: #05C2DF;
  }
}



@mixin normaltext-style {
  @include topography-basic;

  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #929292;
}

@mixin buttons-style {
  @include topography-basic;

  height: 40px;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  color: #fff;

  background-color: #05C2DF;
}

@mixin h2-style {
  @include topography-basic;

  font-size: 21px;
  font-weight: 900;
  line-height: 100%;
  color: #fff;

  &>span {
    font-weight: 400;
    color: #05C2DF;

  }
}

@mixin subtitle-style {
  @include topography-basic;

  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #05C2DF;
}

@mixin h3-style {
  @include topography-basic;

  font-size: 16px;
  font-weight: 900;
  line-height: 100%;
  color: #fff;
}

@mixin playback-style {
  @include topography-basic;

  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  color: #fff;
}

@mixin suptitle-style {
  @include topography-basic;

  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #05C2DF;
}

@mixin input-style {
  @include topography-basic;

  font-weight: 400;
  line-height: 150%;
  color: #929292;
}

@mixin value-style {
  @include topography-basic;

  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
}

// tamanhos de tela

@mixin on-tablet {
  @media(min-width:744px) {
    @content;
  }
}

@mixin on-desktop {
  @media(min-width: 1200px) {
    @content;
  }
}

@mixin onlarge-desktop {
  @media(min-width: 1600px) {
    @content;
  }
}

// grids configs

@mixin page-grid {
  --columns: 2; // 6 12 16

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  padding-inline: 20px;

  @include on-tablet {
    --columns: 6;

    padding-inline: 30px;
  }

  @include on-desktop {
    --columns: 12;

    padding-inline: 110px;
  }

  @include onlarge-desktop {
    --columns: 18;

    padding-inline: 254px;
  }
}