@use "sass:map";

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;

  &:hover {
    #{$_property}: $_toValue;
  }
}

// mixin para pegar svg e colorir, tem que passar um url, uma cor, e o size se nao for passado por padrao é 24px
@mixin setup-svg($path, $color, $width: 20px, $height: 20px) {
  display: inline-block;

  width: $width;
  height: $height;

  // A cor que vai preencher o "molde"
  background-color: $color;

  // O molde (SVG)
  -webkit-mask-image: url($path);
  mask-image: url($path);

  // Compatibilidade com navegadores antigos (Safari/Chrome)
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;

  @include topography-basic;
}

// linear-gradiente,color
@mixin background-color {
  background: linear-gradient(100deg, #191536 0%, #191536 20%, #000 100%);

  @include topography-basic;

}

// mixin dos estilos de fontes
@mixin topography-basic {
  font-family: Inter, sans-serif;
}

@mixin h1-style {
  @include topography-basic;

  font-size: 26px;
  font-weight: 900;
  line-height: 130%;
  color: #fff;

  &>span {
    // apenas o span dentro da classe que foi chamado vai ser selecionado
    font-weight: 400;
    color: $azul;
  }

}

@mixin footer-style {
  @include topography-basic;

  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
}

@mixin footercontact-style {
  @include topography-basic;

  font-size: 13px;
  font-weight: 400;
  line-height: 100%;
  color: #929292;
}


@mixin normaltext-style {
  @include topography-basic;

  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #929292;

  &>a {
    color: $azul;
  }
}

@mixin buttons-style {
  @include topography-basic;

  height: 48px;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  color: #fff;

  background-color: $azul;

  &:hover {
    opacity: 0.8;
  }
}

@mixin h2-style {
  @include topography-basic;

  font-size: 21px;
  font-weight: 900;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;

  &>span {
    font-weight: 400;
    color: $azul;

  }
}

@mixin subtitle-style {
  @include topography-basic;

  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: $azul;
}

@mixin subtitle-gray-style {
  @include topography-basic;

  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color:#929292;

  opacity: 0.7;
}

@mixin menu-style {
  font-size: 21px;
  font-weight: 500;
  line-height: 130%;
  color: #fff;
  list-style: none;

  &:hover {
    color: $azul;
  }
}

@mixin h3-style {
  @include topography-basic;

  font-size: 16px;
  font-weight: 900;
  line-height: 100%;
  color: #fff;
}

@mixin playback-style {
  @include topography-basic;

  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  color: #fff;
}

@mixin suptitle-style {
  @include topography-basic;

  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: $azul;
}

@mixin input-style {
  @include topography-basic;

  font-weight: 400;
  line-height: 150%;
  color: #929292;
}

@mixin value-style {
  @include topography-basic;

  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
}

// tamanhos de tela
$breakpoints: (
  'tablet':744px,
  'desktop':1200px,
  'large':1600px
);

@mixin device($size: 744px, $type: 'min') {
  // Busca o valor no mapa. Se não existir, usa o valor literal (ex: 500px)
  $width: map.get($breakpoints, $size );
  $value: if($width, $width, $size);

  @if $type == 'max' {
    @media (max-width: #{$value}) {
      @content;
    }

  }

 @else {
    @media (min-width: #{$value}) {
      @content;
    }
  }
}

// grids configs

@mixin page-grid($padd: null) {
  $is-dynamic: if($padd == null, true, false);

  // o usuario passou valor vazio? se sim recebe true, se não recebe falso, ou seja se for true ele entra nos include do device e atribui o valor para o is-dynamic, se não ele mantem o valor passado.

  --columns: 2; // 6 12 16

  // Se $is-dynamic for true: O mixin entende: "Ok, ele quer que eu use os valores padrão (20px no mobile, 30px no tablet, etc.)."

  // Se $is-dynamic for false: O mixin entende: "Ele me deu um valor fixo, então vou ignorar as trocas automáticas de padding nos breakpoints e manter o que ele me deu."
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  padding-inline: if($is-dynamic, 20px, $padd); // Sendo $is-dynamic false, ou seja eu passei um valor, ele ignora o valor padrão 20px, e atribui o valor passado a variavel $padd, e esse valor vai ser mantido, pois todos os if-dynamic abaixo serão false

  @include device {
    --columns: 6;

    @if $is-dynamic {
      padding-inline: 30px;
    }
  }

  @include device('desktop') {
    --columns: 12;

    @if $is-dynamic {
      padding-inline: 110px;
    }
  }

  @include device('large') {
    --columns: 16;

    @if $is-dynamic {
      padding-inline: 254px;
    }
  }
}

@mixin footer-ul {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 0;

  list-style: none;
}

@mixin blueinput-style {
  height: 32px;
  border: none;
  border-bottom: 1px solid $gray;

  color: #fff;

  background-color: transparent;

  &:focus {
    border-bottom: 1px solid $azul;
    outline: none;
  }
}